/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-menu {
  background-color: #242526;
  color: white;
}

.app-style {
  background-color: #18191a;
  color: white;
  height: 100%;
}